@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;

    background-repeat: no-repeat;
    background-size: cover;

}


.container{
    max-width: 1200px;
    margin: 0 auto;

}
.header{
    background-image: url(img/carp1/img31.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    align-items: center;
    display: flex;


}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo{
    color: #fff;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fff;
    display: block;
    font-weight: 600;
}
#menu{
    display: none;

}

.menu-icono{
    width: 25px;

}
.menu label{
    cursor: pointer;
    display: none;

}

.header-txt{
    text-align: center;
}

.header-txt h1{
    font-size: 85px;
    color:#ae0707;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-txt p{
    color: aqua;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;

}

.general{
    padding: 50px 0;
    text-align: center;

}

.general-content{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

}

.general-1{
     background-image: url(img/pen.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     
     padding: 170px 55px; 
     height: 100%;   
}

.general-2{
    background-image: url(img/pen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 170px 55px;    
}

.general-3{
    background-image: url(img/pen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 170px 55px;

}
.general-g2{
    padding: 50px 0;
    text-align: center
}
.general-g2 .general-content{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

}

.general-4{
    background-image: url(img/carp2/shen1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 170px 55px;
    

}


.general-5{
    background-image: url(img/img2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 170px 55px;

}
.general-6{
    background-image: url(img/yai2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 170px 55px;

}




h2{
    font-size: 70px;
    text-transform: uppercase;
    color: #ae0707;

}

.txt h3{
    font-size: 18px;
    color: #ae0707;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.txt p{
    color: #090f1d;
    font-size: 16px;
}

.info-1{
    padding: 250px 0;
    background-image: url(img/koa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.info-content{
    text-align: center;
}

.info-content h2, span{
    color: #fff;
}

.info-circle{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

}

.circle-txt{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.circle-1{
    height: 100px;
    width: 100px;
    border: 1px solid #8d1010;
    border-radius: 50%;
    padding-top: 35px;
}

.circle-1 h2{
    color: #831414;
    font-size: 16px;
}

.circle-txt p{
    color: #ae0707;
    margin-top: 25px;

}

.info-2{
    padding: 250px 0;
    background-image: url(img/j1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.general-g2 general-{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 35px;

}

.left{
    width: 50%;
    align-items: center;
    
}



.text-img img{
    width: 100px;
    margin-bottom: 15px;
    border-radius: 100%;
    height: 100px;
    border: 1px solid #130d0d;
   
}

.footer{
    padding: 100px 0 0 0 ;
    text-align: center;

}
.form{
    margin-top: 35px;

}


.campo{
    margin-right: 10px;
    padding: 17px 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #090f1d;
    color: #f1efef;
}

.campo::placeholder{
    color: #b90808;
    pointer-events: none;
    transition: .4s;

}


 .btn-2{
    align-content: center;
    text-align: center;
    padding: 20px 65px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #090f1d;
    color: #ff0000;
    width: 10px;
    }
    .btn-2 p{
        text-align: center;
        padding: 100%;
        left: 2;
    }

.footer-txt{
    margin-top: 100px;
    border-top: 1px solid #0000007e;
    padding: 20px 0;
}
.footer-txt p{
    color: black;
    font-size: 16px;

}

@media(max-width: 991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;

    }
    .header{
        min-height: 0vh;

    }
    .header-content{
        padding: 100px 30px;

    }
    .header-txt h1{
        font-size: 50px;
    }

    .header-txt p{
        padding: 0;

    }
    .general{
        padding: 30px 30px 0 30px;
    }
    .general-content{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .general-1,
    .general-2,
    .general-3,
    .general-4,
    .general-5,
    .general-6{
        height: 350px;
        padding: 100%;
        margin-bottom: 10px;

    }
    .info-1{
        padding: 200px 30px;
        background-size: cover;
        margin-top: -110px;


    }
    .info-circle{
        flex-direction: column;
        align-items: center;
    }
    .circle-txt{
        width: 100%;
        margin-bottom: 25px;
    }
    .g2{
        margin-top: -120px;
    }
    .info-2{
        padding: 200px 30px;
        background-size: cover;
        margin-top: -180px;
    }
    h2{
        font-size: 40px;
    }
    .footer{
        padding: 0;
        margin-top: -140px;
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 0 50px;

    }
    .campo{
        margin: 0 0 10px 0;

    }
    .footer-txt{
        margin-top: 30px;

    }
}